.page-h1 {
    text-align: left;
    transform: translateY(55%);
}

nav {
    text-align: center;
    align-items: center;
    transform: translateY(-50%) translateX(165%) scale(1.30);
    position: absolute;
}