*{
    margin: 0%;
    padding: 0%;
}

body.modo-claro{
    background-color: #f5f5f0;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
}

header.modo-claro{
    background-color: #a50000;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; 
    position: sticky;
    top: 0%;
    z-index: 1000;
    
}

footer.modo-claro{
    background-color: #a50000;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}


body.modo-escuro {
    background-color: #333;
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
}

header.modo-escuro {
    background-color: #a50000;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; 
    position: sticky;
    top: 0%;
    z-index: 1000;
}


footer.modo-escuro {
    background-color: #444;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.modo-luz {
    transform: translateX(2350%) translateY(-130%);
    background-color: transparent;
    border: white;
    color: white;
    cursor: pointer;
    padding: 0;
    margin: 0%;
}

.modo-luz img{
    width: 30px;
    height: auto;
}

h1{
    margin-bottom: 10px;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav ul li {
    display: inline;
    margin: 0 15px;
    
}

nav ul li a {
    color: #f9e79f;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
