.treino-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  transition: max-height 0.3s ease;
}
.treino-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.subsection {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
}
.image-space {
  height: 150px;
  background-color: #ccc;
  margin: 10px 0;
  border-radius: 5px;
}
